{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="text-center">
        <div class="flex flex-row gap-4 justify-center items-center py-6">
            <h1 class="text-9xl border-4 border-black dark:border-white px-4">λ</h1>
            <p class="text-6xl text-left uppercase font-bold">
                <span>Mocking</span><br>
                <span>Bird</span>
            </p>
        </div>
        <p class="md:px-12 lg:px-24 pb-8 text-left md:text-center">
            Desperte o poder do conhecimento ensinando a máquina! No MockingBird, 
            você explora áreas como física, matemática e criptografia, aprendendo através da programação. 
            Aqui, você é desafiado a entender profundamente cada conceito e a aplicar esse conhecimento atravéz simulações que ensinam 
            à máquina como resolver problemas complexos. Aprender nunca foi tão interativo e envolvente. 
            Comece agora sua jornada de aprendizado!
        </p>
        <a href="/signup" class="w-full block mx-auto md:w-fit text-3xl uppercase border-2 border-black dark:border-white px-4 py-1 hover:cursor-pointer hover:bg-stone-950 hover:text-stone-950 hover:dark:bg-white hover:dark:text-stone-950">
            Cadastre-se!
        </a>
    </div>
{% endblock %}
